.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: inherit;
}

.mud-list {
    border: 1px solid var(--mud-palette-lines-default)
}

@font-face {
    font-family: 'Qlines';
    src: url('/fonts/Qlines-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qlines';
    src: url('/fonts/Qlines-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qlines';
    src: url('/fonts/Qlines-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
